<ion-view hide-nav-bar="false" view-title="Forgot Passsword" class="wall-background">        
    <ion-content overflow-scroll="false" style="margin-top: 50px">    
    
    <div class="list list-inset">
        <label class="item item-input form-background">
            <input ng-model="forgot.email" placeholder="Email" type="email" class="form-background">
        </label>
    </div>    

    <div class="list list-inset">
        <button class="button button-block button-assertive" outline item-right ng-click="send()">Send</button>                                                                                      
    </div>

    </ion-content>
</ion-view>